body {
  background-color: #003049;
  color: #2a9d8f;
}


h1 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #e76f51;
  
}

h2, h3 {
  color: #f4a261;
}

nav, .links {
      color: #e9c46a;
      text-decoration: #e9c46a underline;
}

figcaption {
  font-size: 13px;
 
}

button:hover {
  background-color: red;
  color: white
}

p, .list {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
  background-color: lightslategrey;
}